<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka.remote" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="akka.cluster" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.webtrends.harness.component.audit.auditing" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.webtrends.harness.component.kafka" level="DEBUG"/>
    <logger name="com.webtrends.streaming.agg" level="DEBUG"/>


    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>

